########################################
# Configuração da extrusora
########################################
[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2

microsteps: 64
rotation_distance: 23.5809475	# calibrated
gear_ratio: 50:10
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 100 # Máxima distância que você consegue rodar a extrusora em 1 só comando

heater_pin: EBBCan: PB13
sensor_type: Generic 3950
sensor_pin: EBBCan: PA3
control: pid

pid_kp: 30.871
pid_ki: 1.595
pid_kd: 149.334

min_temp: 0
max_temp: 300

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0