[gcode_macro PRINT_START]
gcode:

  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("0")|int %}
  {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}
  {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  STATUS_HOMING                                         # Set LEDs to homing-mode
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position

  #  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  G1 X{x_wait} Y{y_wait} Z15 F1000                    # Go to center of the bed
  M190 S{target_bed}                                  # Set the target temp for the bed

  BED_MESH_CALIBRATE ADAPTIVE=1                        # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh
  G1 X{x_wait} Y{y_wait} Z15 F1000                      # Go to center of the bed
  M107                                                  # Turn off partcooling fan
  M109 S{target_extruder}                               # Heat the hotend to set temp

  # Carrega o perfil de skew
  SET_SKEW CLEAR=1
  # SKEW_PROFILE LOAD=Calilantern_21_09_2026

  G0 X{x_wait - 50} Y4 F1000                           # Go to starting point
  G0 Z0.4                                               # Raise Z to 0.4
  G91                                                   # Incremental positioning 
  G1 X100 E20 F500                                     # Primeline
  G90                                                   # Absolute position